.card {
  background: linear-gradient(45deg, #212121, #424242);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  width: 100vw;
}

.card-header {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.card-title {
  font-size: 2rem;
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 20px;
}

.card-description {
  font-size: 1.2rem;
  margin: 0 0 20px 0;
}

.register-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 20px 0 0 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.attendance-btn {
  background-color: #3286ed;
  border: none;
  color: white;
  margin: 20px 0 0 0;
  margin-left: 1em;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.register-btn:hover {
  background-color: #3e8e41;
}
